p.payment_module a.seqr {
    background: url(../img/seqr-logo.jpg) 15px 15px no-repeat #fbfbfb;
}

p.payment_module a.seqr:after {
}

.seqr-confirmation {
    margin-bottom: 40px;
    line-height: 20px;
}

.seqr-box {
    border: 1px solid #d6d4d4;
    padding: 10px;
    margin: 10px auto;
    line-height: 23px;
    width: 550px;
}

.seqr-box > * {
    text-align: center;
}

#seqr-container {
    margin: auto;
}